# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular data science languages, libraries, and tools
- Demonstrate markdown formatting
- Show examples of very basic code

## Author
Thomas

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Plotly
3. Pandas

| Data Science Tools |
|-------------|
|Apache Spark|
|RStudio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60b
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335